.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(249, 244, 238);
    height: 1600px;
}

.flx{
    /* border: 2px solid red; */
    /* display: flex; */
    
}
#flx1{
    height: 192px;
    background-color: rgb(249, 244, 238);
   
}
.h1{
    display: block;
    position: absolute;
    left: 367px;
    top: 24px;
}
.p1{
    display: block;
    position: absolute;
    left: 370px;
    top: 68px;
    color: blue;
    cursor: pointer;
}
.p2{
    display: block;
    position: absolute;
    left: 371px;
    top: 95px;
    color: rgb(104, 104, 104);
}
.p3{
    display: block;
    position: absolute;
    left: 285px;
    top: 127px;
    color: rgb(104, 104, 104);
}
#flx2{
    height: 200px;
    background-color: rgb(250, 238, 223);
    box-shadow: 41px 10px 67px #f88d8dd6;
}
.h2{
    color: rgb(139, 2, 2);
}
#flx3{
    height: 670px;
    
    /* background-color: rgb(249, 244, 238); */
}
.h3{
    display: block;
    position: absolute;
    left: 15px;
    top: 421px;
    color: rgb(63, 6, 6);
}
.p5{
    display: block;
    position: absolute;
    left: 15px;
    top: 450px;
    background-color: rgb(231, 231, 255);

}
.h4{
    display: block;
    position: absolute;
    left: 15px;
    top: 494px;
    color: rgb(63, 6, 6);
}
.img1{
    display: block;
    position: absolute;
    left: 9px;
    top: 548px;
}
.s1{
    display: block;
    position: absolute;
    left: 28px;
    top: 546px;
    color: rgb(0 0 0);
    
 
}
.p6{
    display: block;
    position: absolute;
    left: 28px;
    top: 558px;
    color: rgb(0 0 0);
   font-size: 15px;
   /* font-style: italic; */
   background-color: rgb(231, 231, 255);
}
.img2{
    display: block;
    position: absolute;
    left: 9px;
    top: 600px;
}
.s2{
    display: block;
    position: absolute;
    left: 28px;
    top: 600px;
    color: rgb(0 0 0);
    
 
}
.p7{
    display: block;
    position: absolute;
    left: 28px;
    top: 610px;
    color: rgb(0 0 0);
    font-size: 16px;
    /* font-style: italic; */
    background-color: rgb(231, 231, 255);
}
.img3{
    display: block;
    position: absolute;
    left: 9px;
    top: 660px;
}
.s3{
    display: block;
    position: absolute;
    left: 28px;
    top: 660px;
    color: rgb(0 0 0);
    
 
}
.p8{
    display: block;
    position: absolute;
    left: 28px;
    top: 680px;
    color: rgb(0 0 0);
    font-size: 16px;
    /* font-style: italic; */
    background-color: rgb(231, 231, 255);
}
.s4{
    display: block;
    position: absolute;
    left: 28px;
    top: 730px;
    color: rgb(0 0 0);
    
 
}
.p9{
    display: block;
    position: absolute;
    left: 28px;
    top: 750px;
    color: rgb(0 0 0);
    font-size: 16px;
    /* font-style: italic; */
    background-color: rgb(231, 231, 255);
}
.s5{
    display: block;
    position: absolute;
    left: 28px;
    top: 800px;
    color: rgb(0 0 0);
    
 
}
.p10{
    display: block;
    position: absolute;
    left: 28px;
    top: 820px;
    color: rgb(0 0 0);
    font-size: 16px;
    /* font-style: italic; */
    background-color: rgb(231, 231, 255);
}
.s6{
    display: block;
    position: absolute;
    left: 28px;
    top: 870px;
    color: rgb(0 0 0);
    
 
}
.p11{
    display: block;
    position: absolute;
    left: 28px;
    top: 890px;
    color: rgb(0 0 0);
    font-size: 16px;
    /* font-style: italic; */
    background-color: rgb(231, 231, 255);
}
.s7{
    display: block;
    position: absolute;
    left: 28px;
    top: 940px;
    color: rgb(0 0 0);
    
 
}
.p12{
    display: block;
    position: absolute;
    left: 28px;
    top: 970px;
    color: rgb(0 0 0);
    font-size: 16px;
    /* font-style: italic; */
    background-color: rgb(231, 231, 255);
}
#flx4{
    
    /* border: 2px solid red; */
    color: rgb(139, 2, 2);
    /* background-color: rgb(225 234 234);
    box-shadow: 2px 0px 87px #a5e7dd;
border-radius: 33px; */


}
 ul li{
    color: black;
    font-size: 17px;
    font-style: italic;
 }
.h5{
    background-color: rgb(214 235 235 / 70%);
    box-shadow: 2px 0px 87px #a5e7dd;
    border-radius: 33px;
}
/* .h6{
    background-color: rgb(214 235 235 / 70%);
    box-shadow: 2px 0px 87px #a5e7dd;
    border-radius: 33px;
} */
.btn{
    border-radius: 52px;
    margin: 22px 692px;
    padding: 18px 43px;
    background-color: red;
    color: white;
    cursor: pointer;

}
.btn:hover{
    background-color: rgb(194, 1, 1);
}